# Chave secreta de criptografia para os tokens JWT (Gere uma chave segura em produção)
JWT_SECRET=9f7a637d995bb6e191986427d142b7811ef12613d964de039868fb8d52367d30

# URL do banco de dados (SQLite por padrão, mas pode ser MySQL / PostgreSQL)
# DATABASE_URL=sqlite:///forum.db
